<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="/static/grgrApp/style_test.css"/>
<title>Green urban systems design tool</title>
</head>
<body>
	<div id="layout">
	<div id="header">
		<h1>Green urban systems design tool</h1>
	</div>
	<div id="menu">
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="{% url 'registration' %}">Registration</a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
	</ul>
	</div>
	<div id="content">
	   {% block content %}
	   {% endblock %}
    </div>
	</div>
    <div id="div_footer"><p>SP Technical Research Institute of Sweden - Box 857, 501 15 Bor&aring;s - Tel 010-516 50 00</p></div>
</body>
</html>