{% extends "grgrApp/base_app.html" %}
{% block content %}
<h2>Traffic</h2>
<form action="{% url 'traffic' %}" method="POST" id="id_traffic_form">
    {{ form.non_field_errors }}
    <table style="width:80%">
        {% for field in form %}
        <tr>
            {% if field.errors %}
            <td>
                {{ field.label_tag }} <span class="styled-select">{{ field }}</span> {% if field.field.required %}<span class='req'>* This field is requiered</span>{% endif %}
                {% if field.label == 'Thickness surface course' %}<span>[mm]</span><span class='req'>* This field is requiered</span>{% endif %}
                {% if field.label == 'Thickness bedding layer' %}<span>[mm]</span><span class='req'>* This field is requiered</span>{% endif %}
                {% if field.label == 'Thickness subbase layer' %}<span>[mm]</span><span class='req'>* This field is requiered</span>{% endif %}
                {% if field.label == 'Thickness base layer' %}<span>[mm]</span><span class='req'>* This field is requiered</span>{% endif %}
            </td>
            {% else %}
            <td>
                {{ field.label_tag }} <span class="styled-select">{{ field }}</span> {% if field.field.required %}<span class='req'>*</span>{% endif %}
                {% if field.label == 'Thickness surface course' %}<span>[mm]</span>{% endif %}
                {% if field.label == 'Thickness bedding layer' %}<span>[mm] </span>{% endif %}
                {% if field.label == 'Thickness subbase layer' %}<span>[mm] </span><span id="span_thick_value_change" class='req'></span>{% endif %}
                {% if field.label == 'Thickness base layer' %}<span>[mm] </span>{% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td><li><input name='update_values' type='submit' class='button' value="Update values" /></li></td>
        </tr>
    </table>
    {% csrf_token %}
    <ul>
        <li><span class='back'><a href="{% url 'parameter' %}"><input type="button" class='button' value="<-- Back" onclick="window.location = '../parameter/';"/></a></span><span class='next'><input type="submit" class='button' value="Next -->"  /></span></li>
    </ul>
</form>
{% endblock %}