body{
	margin-top: 5%;
	background-color: #EEE;
}

#header{
	background-color: #FFF;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid gray;
}

#header h1{
	font-family: Rockwell,Arial;
	font-size: 30px;
	/*text-transform: none;
	text-decoration: none;*/
	color: #3A3;
}

#menu{
	line-height: normal;
	padding-top: 5px;
	padding-bottom: 20px;
}
#menu ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#menu li{
	float: left;
}
#menu li a{
	display: block;
	width: 100px;
	text-align: center;
	color: gray;
	text-decoration: none;
}
#menu li a:hover{
	background: #eeebeb;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #e76;
	text-decoration: none;
}

#menu li a:active{
	background: #eeebeb;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #e76;
	text-decoration: none;
}

#layout{
	width: 60%;
	min-height: 500px;
	margin: 10px auto;
	text-align: left;
	background-color: #FFF;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
#content{
	margin-top: 2%;
	margin-left: 3%;
}

#content h2{	font-size: 150%;}

#content p{
	font-size: 0.8em;
	font: normal 13px Tahoma, Geneva;
}

#content a{
	text-decoration: none;
	color: #AA3;
}
#content a:hover {
    color: #33e;
	text-decoration: none;
}

#content a:link{
    color: #aa3;
	text-decoration: none;
}

#content ul{font-size: 0.8em; font: normal 13px Tahoma, Geneva; color: #ffa500;}

label{
	float: left;
	width: 200px;
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

input{
	display: block;
	width: 200px;
	border: 1px solid #AAA;
	background-color: #AAC;
}

checkbox{
	display: block;
	width: 300px;
	border: 1px solid #AAA;
	background-color: #AAC;
}

.button{
	background: #FFF;
	border: 0;
	font-weight: bold;
	width: 75px;
	cursor: pointer;
	color: #AA3;
	margin-left: 210px;
	text-align: center;
}
.button:hover{ color: #33E; background: #eeebeb;}

.errorlist {color: #000; font-size: 13px;}

.imageSP{ width: 60px; display: block; float: left; border:0;}
#div_fig{ width: 12%; height: 110px; float: left; padding: 0.5px;}
#div_persinfo{ width: 85%; height: 110px; float: left; padding: 0.5px;}
#div_newuser{float:left}

#div_footer {
    font: normal 10px Tahoma;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width:100%;
    height:32px;   /* Height of the footer */
}